@CHARSET "UTF-8";
*{
  margin:0;
  padding:0;
  list-style-type:none;
}
#container{
  margin:100px auto;
  width:537px;
}
ul.menu li{
  float:left;
  width:179px;
  height:48px;
  background:url("images/btn.png");
  position:relative;
}

ul.menu li a{
  display:block;
  width:100%;
  height:100%;
  line-height:48px;
  text-indent:30px;
  font-weight:bold;
  color:#cfdfb5;
  text-decoration:none;
  position:relative;
}

ul.menu li a:hover{
  background:url("images/btn_over.png");
}

ul.sub li{
  float:none;
}

ul.sub li ul.sub{
  position:absolute;
  left:179px;
  top:0;
}

ul.menu{
  zoom:1;
}

ul.menu:after{
  height:0;
  visibility:hidden;
  content:".";
  display:block;
  clear:both;
}